.services-container {
	padding: 2rem 0;
}

.services-title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.services-grid {
	margin-top: 4rem;
}

.service-item {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.service-card {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.service-card-title {
	text-align: center;
	font-weight: bold;
}

.service-card-description {
	flex-grow: 1;
}

.service-card-button:hover {
	background-color: gray;
}

.btn-container {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}