.services-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
}

.services-title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
}

.services-grid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.service-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.5rem;
	padding: 1rem;
}

.service-card {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.service-card-title {
	text-align: center;
	font-weight: bold;
}

.service-card-description {
	flex-grow: 1;
	text-align: center;
}

.service-card-button:hover {
	background-color: gray;
}

.btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: black;
	margin: auto 20px;
	padding: 10px 20;
	border-radius: 10px;
}

